/* Estilo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    color: #2A4059; /* Azul marinho da tipografia */
}

body {
    background-color: #f9f9f9; /* Fundo neutro */
    color: #2A4059;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /*background-color: #E47AEA;  Roxo vibrante */    
}

header img {
    height: 100px;
    width: auto;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 96%);
    border-radius: 10px;
    overflow: hidden;
    width:500px;
    height: auto;
}

.search-input {
    flex: 1;
    border: solid 1px;
    border-radius: 10px 0px 0px 10px;
    border-style: groove;
    padding: 10px;
    font-size: 16px;
}

.search-button {
    background-color: #2A4059;
    height: 40px;
    width: 40px;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #FFC6FF;
}

.search-button img {
    width: 100%; /* Ajusta a largura da imagem como porcentagem do botão */
    height: auto; /* Mantém a proporção da imagem */
}

/* Estilo para a barra de navegação horizontal */
.nav-links {
    display: flex; /* Exibe os itens em linha */
    justify-content: flex-end; /* Alinha os itens à direita */
    align-items: center; /* Alinha verticalmente no centro */
    gap: 20px; /* Espaçamento entre os links */    
    padding: 10px 20px; /* Espaçamento dentro da barra */
    font-family: Arial, sans-serif; /* Fonte padrão */
}

.nav-links a {
    display: flex; /* Exibe ícones e texto na mesma linha */
    align-items: center; /* Centraliza verticalmente ícones e texto */
    text-decoration: none; /* Remove sublinhado dos links */
    color: #2A4059; /* Cor do texto */
    font-size: 1.1em; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
}

.nav-links a img {
    width: 20px; /* Tamanho dos ícones */
    height: auto;
    margin-right: 10px; /* Espaçamento entre ícone e texto */
}

.nav-links a:hover {
    color: #E47AEA; /* Muda a cor do texto ao passar o mouse */
    transition: color 0.3s ease; /* Transição suave para a mudança de cor */
}

/* Footer */
footer {
    background-color: #2A4059;
    padding: 20px;
    text-align: center;
    /* margin-top removido para garantir que o footer sempre fique no final */
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li {
    transition: color 0.3s;
    color: white;
}

footer ul li:hover {
    color: #E47AEA;
}

footer ul a {
    text-decoration: none;
    color: white;
}