/* Elementos Gerais */
h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

span {
    cursor: pointer;
    transition: background-color 0.3s;
}

img {
    border-radius: 10px;
    display: block;
}

/* Botões de Navegação */
.anterior, .proximo {
    background-color: #E47AEA;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
    z-index: 2;
}

.anterior:hover, .proximo:hover {
    background-color: #FFC6FF;
}

.anterior { left: 0; }
.proximo { right: 0; }

/* Faixa do Clube One-pet */
#clube-one-pet {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px 20px;
    background-color: #E5CAFF; /* Lavanda */
}

/* Carrossel */
#carrossel {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.carrossel-container {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.carrossel-imagens {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrossel-imagens img {
    width: 22.22%;
    flex-shrink: 0;
}

/* Itens do Carrossel */
.carrossel-item {
    position: relative;
    display: inline-block;
}

.carrossel-item img {
    width: 100%;
}

.carrossel-item .overlay,
.carrossel-item .nome-categoria {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-weight: bold;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.carrossel-item .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
}

.carrossel-item .nome-categoria {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2em;
}

.carrossel-item:hover .overlay,
.carrossel-item:hover .nome-categoria {
    opacity: 1;
}

/* Seção Destaques */
#destaques, #produtos {
    padding: 40px 20px;
}

#destaques {
    background-color: #E5CAFF;
}

#destaques div, #produtos div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

#destaques article, #produtos div img {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#destaques article {
    flex: 1;
    min-width: 250px;
    text-align: center;
}

/* Seção Produtos */
#produtos {
    background-color: #f9f9f9;
}

#produtos div img {
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s;
}

#produtos div img:hover {
    transform: scale(1.05);
}
